.idea
*.iml
node_modules
*.class
*.log
*.ctxt
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

target/
dist/
logs/
.idea_modules/
.classpath
.project
.settings/
bsfit-assets-mgr/src/main/resources/static/
bsfit-assets-mgr-ui/src/main/assets-ui/node_modules
